.borderMy {
  border: 4px solid rgba(197, 193, 193, 0.58);
  border-radius: 10px;
  overflow: hidden;
}

/* 小屏幕 */
@media (max-width: 576px) {
  .Works {
    margin-top: 20px;
  }
  .borderMy {
    width: 100%;

    .right {
      padding: 20px;
    }
  }
}

/* 中等屏幕 */
@media (min-width: 576px) and (max-width: 1024px) {
  .Works {
    margin: 40px 20px;
  }
  .borderMy {
    width: 100%;

    .right {
      padding: 20px;
    }
  }
}

/* 大屏幕 */
@media (min-width: 1024px) {
  .Works {
    margin: 40px 60px;
  }
  .borderMy {
    .right {
      padding: 5px;
    }
  }
}