.container {
  padding: 4rem;
  overflow: hidden;
}

.background {
  position: absolute;
  right: -5%;
  bottom: 30%;
  width: 840px;
}

/* 小屏幕 */
@media (max-width: 576px) {
  .container {
    padding: 2rem;
  }
  .background {
    display: none;
  }
}

/* 中等屏幕 */
@media (min-width: 576px) and (max-width: 1024px) {
  .container {

  }
}

/* 大屏幕 */
@media (min-width: 1024px) {
  .container {
    padding: 8rem;
  }
}