/* 小屏幕 */
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

/* 中等屏幕 */
@media (min-width: 576px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

/* 大屏幕 */
@media (min-width: 1024px) {
  .container {
    width: 30%;
  }
}